<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>335840050997-2jbkkmoa744q0nvi9enlgr38btg663nj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335840050997-2jbkkmoa744q0nvi9enlgr38btg663nj</string>
	<key>API_KEY</key>
	<string>AIzaSyCtPQVAtf-qqtZOBYGEQb9wrCm2BjMPQwI</string>
	<key>GCM_SENDER_ID</key>
	<string>335840050997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.z2l.JChat</string>
	<key>PROJECT_ID</key>
	<string>jchat-618f3</string>
	<key>STORAGE_BUCKET</key>
	<string>jchat-618f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335840050997:ios:60ca9f20b80d637f</string>
	<key>DATABASE_URL</key>
	<string>https://jchat-618f3.firebaseio.com</string>
</dict>
</plist>